{% extends 'based.html' %}

{% block title %}
<title>Articles</title>
{% endblock %}



{% block content %}

   <nav class="navbar bg-light">
  <div class="container-fluid" style="padding-left: 350px">
    <form class="d-flex" role="search" method="POST" action="{{ url_for('posts.search_engine') }}" >
        {{ form.hidden_tag() }}
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>
    {% for post in posts.items %}
        <article class="media content-section">
            <img src="{{ url_for('static', filename='images/' + post.author.image_file) }}" alt="" class="rounded-circle article-img" >
            <div class="media-body">
                <div class="article-metadata">
                     <a class="mr-2 text-muted" href="{{ url_for('users.username_page', username=post.author.username) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
                </div>
                <h2><a href="{{ url_for('posts.post', post_id=post.id) }}" class="article-title"> {{ post.title }}</a></h2>
                <p class="article-content"> {{ post.content }}</p>
            </div>
        </article>
        {% endfor %}
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1,left_current=1,right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a href="{{ url_for('main.article_page', page=page_num)}}" class="btn btn-info mb-4">{{ page_num }}</a>
                    {% else %}
                    <a href="{{ url_for('main.article_page', page=page_num)}}" class="btn btn-outline-info mb-4">{{ page_num }}</a>
                    {% endif %}
            {% else %}
            {% endif %}
            {% endfor %}

{% endblock %}